header{   
    background-image:url(../images/flywheel.jpg);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat ;
    background-size: cover;
  
}
header h1{
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
 nav a{
    width: 154px;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 7px;
    background-color: hsla(0, 100%, 100%, 0.3);
    color: black;
    font-size: 20px;
    margin-right: 50px;
    transition: 0.4s;
}
 a:hover, a:visited{
    background-color: white;
}

nav {
    text-align: center;
}
main {
 display: flex;
 width: 100%;
}
aside {
 width: 20%;
 height: 100%;
 background-color:  #4c680b;
 
}
aside img{
    width: 200px;
    height: 110px;
    margin: 40px 30px;
    display: block;
    border:solid black;
}
section {
    width: 70%;
    font-size: 20px;
}